/*###################################################*/
/*...................................................*/
/* TopBar(component) */
/*...................................................*/
/*###################################################*/

.topBar {
    /* background: linear-gradient(180deg, #B89E30 0%, #8C6F12 100%); */
    background-color: var(--contrast);
    height: 56;
    display: flex;
    align-items: space-between;
    padding: 0.5rem;
    color: var(--text);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.title{
    flex: 1;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
}

.translateButton {
    border: none;
    background: transparent;
    color: inherit;
    font-size: 1rem;
    cursor: "pointer";
}
/*###################################################*/
/*...................................................*/
/* end TopBar(component) */
/*...................................................*/
/*###################################################*/
