/*###################################################*/
/*...................................................*/
/* Home(component) */
/*...................................................*/
/*###################################################*/
.homeLayout{

}
/*-------------------------------*/
/* video */
/*-------------------------------*/



/*-------------------------------*/
/* end video */
/*-------------------------------*/

/*-------------------------------*/
/* description */
/*-------------------------------*/

.description {
  padding:1rem;
}
.description p {
   text-align:justify;
}

.accentText{
    color: var(--contrastMono)
}

/*-------------------------------*/
/* end description */
/*-------------------------------*/

/*###################################################*/
/*...................................................*/
/* end Home(component) */
/*...................................................*/
/*###################################################*/
