/*###################################################*/
/*...................................................*/
/* Partners(component) */
/*...................................................*/
/*###################################################*/

.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    padding-bottom: 5rem;
  }

/*###################################################*/
/*...................................................*/
/* end Partners(component) */
/*...................................................*/
/*###################################################*/
